.tarjetaProducto{
    border: 1px solid rgb(148, 148, 148);
    padding: 10px;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
}

.tituloProducto{
    font-size: 1rem;
}

.unidadesProducto{
    font-size: 1.5rem;
}

.imagenProducto{
    height: 100px;
    width: 100px;
}

.categoriaProducto{
    font-size: 0.8rem;
}

.precioProducto{
    font-size: 1.5rem;

}

.stockProducto{
    font-size: 0.7rem;
    
}

.botonProducto{
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: $negro;
}

.botonEliminar{
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: $negro;
}

.ocultar{
    display: none;
}

.ver{
    display: flex;
}

.inicioSesion{
    text-align: center;
    font-size: 1rem;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: $negro;
}

.dato{
    text-align: center;
    font-size: 1rem;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    color: white;
}